@media (min-width: 1px) and (max-width: 650px) {

    @font-face {
        font-family: "TT Lakes Extra Light";
        font-style: normal;
        font-weight: normal;
        src: url(/TTLakes/TTLakes-ExtraLight.ttf);
    }
    body {
    height: 596px;
    max-width: 320px;
    font-family: "TTLakes-ExtraLight";
    }
    .container {
     color:   #F8F8F8;
        }
    
    h1 {
        margin-top: -15px;
        color:  #1B1C21;
    }
    
    nav {
        width: 340px;
        height: 87px;
        margin-left: -40px;

        
    }
    .menu {
        list-style-type: none;
    }
    button {
        background-color: white;
        border: none;
        padding: 5px;
    }
    
    logo-wrapper {
        margin-left: 5px;
    }
    
    .divider {
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 5px;
        margin: auto;
        margin-top: 10px;
    }
    
    .repair {
        margin-left: 15px;
        text-decoration: none;
        color: grey;
        

    }
    

    .links-wrapper {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: grey;
        padding: 10px;
        line-height:18px;           
        overflow-y : hidden;
        overflow-x: hidden;
        white-space: nowrap;

    
    
    }
    

    .links-wrapper :hover :first-child{
        border: solid 2px #B8FFEC;
        border-radius: 5px;
        background-color: #FFFFFF;
        margin-top: -4px;
        padding: 8px;
        margin-left: -4px;
       
       

    }
    .ul-repair {
        margin-left: -50px;
    }
    li {
     list-style-type: none;
     margin: 3px;
     display: flex;
    }

    a 
        img {
            margin-bottom: 5px;
    }
    
    .text-wrapper {
    width: 310px;
    height: 90px;
    margin: 5px;
    color:#1B1C21;
    overflow: hidden;
    }
    
    .read-further {
        padding: 5px;
    
    
    }
    .read-further-text {
        text-decoration: none;
        color: black;
    
    
    }
    .read-further-img {
        margin-left: 5px;
        margin-right: 10px;
    
    }
    .pic-wrapper {
        position: absolute;
        left: 0;
        margin-top: 5px;
    }
 .pad-buttons {
    display: none;
 }   
 .divider-pad {
    display: none;
 }
 .pad-links {
    display: none;
 }
 .links-wrapper-pc {
    display: none;
 }
 .pc-menu-text {
    display: none;
 }
 .cross-wrapper {
    display: none;
 }
 .search-wrapper {
    display: none;
 }
}
