@media (min-width: 1000px) and (max-width: 1800px) {
    * {
        
        font-style: normal;
	    font-weight: normal;
        max-width:1520px;
    }    
    @font-face {
        font-family: "TT Lakes Extra Light";
        font-style: normal;
        font-weight: normal;
        src: url(/TTLakes/TTLakes-ExtraLight.ttf);
    }
        body {
            font-family: "TT Lakes Extra Light";
        }
        .container {
         color:   #F8F8F8;
            }
        
        h1 {
            margin-top: -80px;
            color: 
            #1B1C21;
            font-weight: bold;
        }
        
        nav {
            width: 770px;
            height: 87px;
            margin-left: -40px;
            
        }
        .menu {
            list-style-type: none;

        }
        button {
            background-color: white;
            border: none;
            padding: 5px;
        }        
        .pc-menu-text {
            margin-top: 12px;
            margin-right: 7px;
           float: left;
           text-align: center;
           align-items: center;
        }
        
        .delete-for-pc {
            display: none;
        }

        logo-wrapper {
            margin-left: 5px;
        }
        
        .divider {
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            padding: 0px;
            display: inline-block;
            margin-bottom: 10px;
            border-radius: 5px;
            margin-left: 8px;
            align-items: center;
        
        }
        .divider-pad {
          display: none;
        }
        
        .repair {
            text-decoration: none;
            color: grey;
            Size: 16px;
            line-height:7px;
            height: 20px;
            padding: 10px;
            
            
        }

        .links-wrapper {
            display: none;
        }
        .links-wrapper-pc {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            padding: 5px;
            height: 35px;
            align-items: center;
        
        }
        #bag {
            position: absolute;
            left: 55px;
            top: 140px 
        
        }

        ul {
            flex-direction: row;
            
        }
        
        li {
         list-style-type: none;
         margin: 3px;
         width: auto;
        }
        

        a 
            img {
                margin-bottom: 5px;
        }
        
        .text-wrapper {
        width: 600px;
        margin: 5px;
        color:#1B1C21;
        margin-top: 30px;
        margin-top: 50px;
        }
        .pic-wrapper img {
            width: 150%;
            margin-left: -80px;
        }
        .read-further {
            padding: 5px;
            align-items: center;
        
        
        }
        .read-further-text {
            text-decoration: none;
            color: black;
        
        
        }
        .read-further-img {
            margin-left: 5px;
            margin-right: 10px;
            margin-bottom: 0;
        
        }
        .pic-wrapper {
            position: absolute;
            right: 0;
            margin-top: -165px;
        }
     .pad-buttons {
         display: none;
        margin-left: 30%;
     }   
logo-wrapper {
    display: none;
}
.divider {
    display: none;
}


     .mobile-wrapper {
        margin-top: 2px;
        display: inline-flex;
        position: absolute;
        right: 0;


     }
     .pad-links {
        position: absolute;
        display: flex;
        flex-direction: row;
        right: 110px;
        top: 25%;
        width: 300px;

     }
     .repair-pad {
        margin-left: 25px;
     }
   
    .repair-wrapper-pc :hover {
        border: solid 2px #B8FFEC;
        border-radius: 5px;
        background-color: #FFFFFF;
    
    }
    .cross-wrapper {
        display: none;
     }
     .search-wrapper {
        display: none;
     }

    }


